In [3]:
import pandas as pd
import numpy as np
from pathlib import Path

In [20]:
jobs_df = pd.DataFrame()
for file in Path('job_offers').iterdir():
    year_month = file.name.split('_')[0]
    year, month = year_month[:-2], year_month[-2:]
    df = pd.read_csv(file)
    df['year'] = year
    df['month'] = month
    jobs_df = pd.concat([jobs_df, df])

jobs_df

,id,company,company size,location,technology,seniority,salary employment min,salary employment max,salary b2b min,salary b2b max,year,month
0,5bfb1ec0512511bd22e1bf2f254ca81f,Link Group,100.0,Kraków,Python,mid,22000.0,29000.0,NaN,NaN,2023,09
1,8fa6237a5a060886969c92c40a03e1d0,Link Group,100.0,Katowice,Python,mid,22000.0,29000.0,NaN,NaN,2023,09
2,2007c9732dfdca3886159998df9fe690,Link Group,100.0,Warszawa,C#,senior,NaN,NaN,30000.0,40000.0,2023,09
3,d8fccc479de7039201050b21f077db8a,Link Group,100.0,Katowice,C#,senior,NaN,NaN,30000.0,40000.0,2023,09
4,677f9dcf2a3b0e484410df669b31db96,Link Group,100.0,Kraków,C#,senior,NaN,NaN,30000.0,40000.0,2023,09
...,...,...,...,...,...,...,...,...,...,...,...,...
1677,80810c336b1def9d079624df421110fd,NASK,100.0,Warszawa,JavaScript,senior,10000.0,16000.0,NaN,NaN,2024,05
1678,55d6d1565e1d82cd3bcff255569d7375,NASK,100.0,Warszawa,Java,senior,10000.0,16000.0,NaN,NaN,2024,05
1679,df1145e6316fa9b9bb5a156f821e89c7,BALTIC SMART sp. z o.o.,NaN,Warszawa,C#,mid,14000.0,18000.0,NaN,NaN,2024,05
1680,4d67b8196d78cfa69f440e5d1ca3ab03,simplyblock GmbH,NaN,Remote,C/C++,expert,20000.0,30000.0,25000.0,30000.0,2024,05
1681,dda1946e523fd79afb749f09203e979d,Pitney Bowes Polska sp z o.o.,NaN,Remote,C#,junior,12000.0,16000.0,12000.0,16000.0,2024,05